{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Submit{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
      <label for="message">Your message:</label>
      <br>
      <input type="text" name="message" id="message">
      <br>
      <label for="handle">Your name or handle:</label>
      <br>
      <input type="text" name="handle" id="handle">
      <br>
      <input type="submit" value="Submit message">
  </form>
 
 {% if thanks %}
    <br>
    Thanks for submitting a message! 🎉
 {% endif %}

 {% if error %}
    <br>
    Oh no, we couldn't submit that message! Please try again and make sure to not leave the message or name blank.
 {% endif %}

{% endblock %}



  <p>🎉 Our goal is to have a working resume for you to get your dream job at or jumpstart your career 🎉</p>
{% endblock %}
